
:root {





    /*Greys and Shades*/
    --primary_origin: rgb(40, 39, 37);
    
    
    --grey_darker: #212f3c;
    --grey_dark: #2e4053;
    --grey_origin: #34495e;
    --grey_light: rgb(96, 96, 107); /*--kinetic_motif_color */
    --grey_lighter: #ebedef;
    
    
    
    



    /*Primary Color and Shades*/
    --static_motif_darker: #b7950b;
    --static_motif_dark:#d4ac0d;
    --static_motif: #f1c40f; /*#fa7921;*/
    --static_motif_light:#f7dc6f;
    --static_motif_lighter:#f9e79f; 

     
    

    /*Accent Colors and Shades*/
        --box_shadow_color: #6b6a69;

   
}


* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--grey_lighter);

}


main {

    /*border-radius: 10px;
    border-style: solid;
    border-color: black;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 10vh;
    /*background-color:rgb(253, 202, 136);*/
    background-color: var(--grey_lighter); 

    
}

#intro_text {
    flex-basis: 70%;
    /*border-radius: 10px;
    border-style: solid;
    border-color: black;*/
    font-size: 2vh;
    align-content: center;
    /*background-color:rgb(253, 202, 136);*/
    background-color: var(--grey_lighter); 

    display: flex;
    flex-flow: row, wrap;
    


}

h1 {
    /*background-color:rgb(253, 202, 136);*/
    background-color: var(--grey_lighter); 
    align-self: center;
    align-content: baseline;
    


    

}

#developer {
    margin-left: 1vh;
    align-self: center;
    align-content: baseline;

    animation-name: developer;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    
}



#navbar {
    flex-basis: 20%;
    /*border-radius: 10px;
    border-style: solid;
    border-color: black;*/
    /*background-color:rgb(253, 202, 136);*/
    background-color: var(--static_motif); 

    align-self: center;

    
}

#navbar ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 5vh;
    /*background-color:rgb(253, 202, 136);*/
    background-color: var(--grey_lighter); 

 
    

}

li {
    /*background-color:rgb(253, 202, 136);*/
    background-color: var(--grey_lighter); 


}

.navitem {

    background-color: var(--grey_lighter);
    /*border-radius: 1px;
    border-style: solid;
    border-color: black;*/
    font-weight: bolder;
    color: black;
}

.navitem:hover {
    color: var(--static_motif_darker);
    font-weight: bolder;
}

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
   /* border-radius: 10px;
    border-style: solid;
    border-color: black;*/
    column-gap: 5vh;

    /*animation-name: paneljump;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;*/

    animation-name: panelswing;
    animation-duration: 2.7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;


}



article {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 5vh;
    margin-top: 20vh;
    row-gap: 5vh;

    animation-name: paneljump;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;

   
        
}

.panels_top {
    margin-top: 0vh;
    animation-name: toppanelsjump;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


a {
    text-decoration: none;
}


.panels {
    /*background-color: #fa7921; */
    background-color:var(--grey_lighter);
    padding: 5vh 15vh 5vh 15vh;
    /*border-radius: 10px;
    border-style: solid;
    border-color: black;*/
    /*border: 1vh solid rgb(40, 39, 37);*/
    border: 1vh solid hidden;
    color: var(--grey_darker);
   /* transition: background-color 0.2s;
    transition-timing-function: linear;*/
    border: 0.1vh solid var(--box_shadow_color) ;
    border-radius: 1.5vh;
    box-shadow: 0vh 2vh 6vh -3vh var(--grey_dark);


    /*animation-name: panelatrest;
    animation-duration: 0.1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;*/

    /*animation-name: paneljump;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;*/



    

   
    

}



.panels:hover {


   /* box-shadow: 0vh 0.2vh 5vh -1vh rgb(0, 166, 255);*/
   /*background-color: aqua; for transition*/
   /*animation-name: slide;
   animation-duration: 0.1s;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
   animation-iteration-count: 1; remove this for that flickering effect!
   */

    /*animation-name: card_lift;
    animation-duration: 0.1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;*/
    box-shadow: 0vh 4vh 6vh -3vh var(--grey_dark);
    




   
}


#statusbarcontainer {
    display: flex;
    flex-flow: row, wrap;
    justify-content: flex-start;
    min-height: 3vh;
    background-color: var(--grey_light); 


}

#statusbar {
    background-color: var(--kinetic_motif_color); 
    color: whitesmoke;
    align-content: center;
    animation-name: statusbarupdate;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite; 
    animation-direction: alternate;
    position: relative;
    
}

#contact-section {
    color: var(--static_motif);
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin-top: 4vh;


}

fieldset {
    border: 0.2vh solid var(--static_motif);

}

form {

    margin: 2vh 2vh 2vh 2vh;
}

.user-text {
    color: black;
    background-color: lightslategray;
    padding: 0.5vh;
    outline: none;
    width: 50vh;

    font-size: large;
}

.user-text:focus {
    border: 0.5vh solid var(--static_motif);

}

#text-box {
    padding-bottom: 50vh;
    outline: none;

}

#text-box:focus {
    border: 0.5vh solid var(--static_motif);

}

#flex-form {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    gap: 0.5vh;
}

#message-type {
    color: black;
    background-color: lightslategray;
    outline: none;
    

    
}

#email_input {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

option {
    background-color: whitesmoke;
}

#submit-button {
    align-self: flex-end;
    background-color: lightslategray;
    margin-top: 2vh;
    width: 6vh;
    transition: width 0.2s;
    transition-timing-function: ease;

}

#submit-button:hover {
    width: 50vh;
}



@keyframes slide {
    from {background-color: rgb(33, 33, 31) }
    to {/*background-color: var(--kinetic_motif_color);*/ 
        border-color: var(--static_motif);
        color: var(--static_motif); 
        background-color: rgb(33, 33, 31) ;}
}

@keyframes card_life {

    from {box-shadow: none;}
    to {box-shadow: 5vh 2vh 4vh -3vh var(--grey_dark);}
}

@keyframes developer {
    from {color: black;}
    to {color: var(--static_motif_darker);}

    
}

@keyframes trans {
    from {background-color: var(--static_motif);}
    to {background-color: none; transform: translate( 200px 100px);}
}

@keyframes panelatrest {
    from {box-shadow: none;}
    to {box-shadow: 0vh 2vh 4vh -3vh var(--grey_dark);}
    
}

@keyframes statusbarupdate {
    0%   {left: 0vh;}
    
    100% {left:192vh; }
}

@keyframes paneljump {

    from {row-gap:5vh; column-gap:5vh;}
    to {row-gap:5.5vh;column-gap:5.5vh;}
}

@keyframes panelswing {

    from {column-gap:5vh;}
    to {column-gap:6vh;}
}
@keyframes toppanelsjump {

    from {margin-top: 0vh;}
    to {margin-top: 5vh;}
}

    

/*have "developer" cycle thru the other color and black. That other color will be the same motif for kinetic energy throughout the site 
(on button press, on hover, etc)

possible kinetic motif colors (hex)


9649cb
AFBBF2
19647E



*/